.react-calendar { width: 350px;
    font-family: gilroy-extra-bold;
    background-color:rgb(234,234,234);
    border-radius: 50px;

    .react-calendar__navigation {
        .react-calendar__navigation__arrow {
            display: none;
   
            font-family: gilroy-extra-bold;
        }
    
        .react-calendar__navigation__label {
            font-size: 20px;
            border-radius: 50px;
            font-family: gilroy-extra-bold;
        }
    }
    
    .react-calendar__tile {
        height: 40px;
     
    }
    
    .react-calendar__month-view__weekdays__weekday {
        font-size: 12px;
        color: rgb(15, 70, 15);
    
    }
    
    .react-calendar__tile--active {
        background: #771572;
        color: white;
 
        
       
             
    }
    
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
        background: #efe0ee;
        color: black;
      
    }
    .react-calendar__month-view__weekNumbers{
        display: none;
        
    }
    
    .react-calendar__tile,
    .react-calendar__month-view__days__day {
        font-size: 15px;
        border-radius: 50%;
     
    }
    }
